body {
    background-image: url(background.png);
    background-size: contain;
    background-repeat: repeat-x;
    font-family: Georgia;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: Comic Sans MS;
    color: darkblue;
}

h3 {
    text-align: center;
}

h3 a {
    color: red;
}

h4 {
    text-align: center;
    font-style: italic;
}

p {
    text-align: center;
}

p.p1 {
    text-align: center;
    color: orange;
}

p.p2 {
    line-height: 25px;
}

p.p2 a {
    font-weight: bold;
    text-decoration: none;
}


/*  h3 a:hover {
  color: brown;
} */