/* RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* my style */

body {
  font: 16px/28px arial, sans-serif;
  background-color: #eaeaea;
  background-image: url(img/y-so-serious-white.png);
}

.container {
  width: 800px;
  margin: auto;
  background-color: rgb(191, 189, 185);
}

.header {
  padding: 20px;
  padding-bottom: 10px;
}

.header .judul {
  font-size: 48px;
  font-weight: bold;
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.header a {
  text-decoration: none;
  color: black;
}

.hero {
  height: 280px;
  background-image: url(img/Hero1.jpg);
  background-size: cover;
  background-position: 0 -120px;
  border-top: 5px solid red;
  border-bottom: 5px solid blue;
}

.content {
  padding: 20px;
}

.content h2 {
  font-weight: bold;
  font-size: 30px;
}

.content .penulis {
  font-size: 12px;
  margin-top: -6px;
}

.content .Penulis a {
  font-weight: bold;
}

.content p {
  margin-bottom: 20px;
  font-size: 14px;
}

.header a:hover {
  font-weight: bold;
  background-color: rgb(117, 116, 80);
  color: white;
  border-radius: 4px;
}

.p1 b {
  font-weight: bold;
}

.p2 b {
  font-weight: bold;
}

.p3 b {
  font-weight: bold;
}

.footer {
  background-color: grey;
  padding: 18px;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
